*.ncb
*.opensdf
*.sdf
*.suo
*.user
Debug/*
Debug_Win32_2008/*
Debug_Win32_ICL11/*
Debug_x64_2008/*
Release/*
Release_Win32_2008/*
Release_Win32_ICL11/*
Release_x64_2008/*
bin/*.acm
bin/*.ax
bin/*.dll
bin/*.exe
bin/*.vdf
ipch/*
obj/*
release/*
release_unicode/*
release_unicode_2008_icl10/*
src/svn_version.h
src/boost/*
update_version.bat